# shellcheck shell=bash

# create a uv virtual env with python, unless already done
test -d .venv || uv venv --python "$( cat .python-version-default )" || true

# activate uv venv
# shellcheck disable=SC3046
source .venv/bin/activate

# Since this is OneDirve mounted inside WSL
export UV_LINK_MODE=copy
